.wrapper {
  background: #282c34 url(../img/background.jpg) no-repeat center center;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons_box {
  display: flex;
  flex-wrap: wrap;
}

.btn {
  background: none;
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px;

  &__start {
    margin-right: 5px
  }

  &__hint {
    margin-right: 5px;
  }
}

.country_field {
  opacity: .7;
}

.country_img {
  border: 3px solid gray;
  width: 800px;
  height: 600px;
}
