.wrapper {
  background: #282c34 url(../img/background.jpg) no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  button {
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #282c34;
    border: 1px solid white;
    opacity: .5;

    &:hover {
      opacity: .9;
      transition: .6s all ease;
    }
  }
}

.buttons_bottom button {
  width: 40%;
  min-height: 60px;

  &:nth-child(2n+1) {
    margin-right: 5px;
  }
}

.country_field {
  opacity: .7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country_img {
  margin-bottom: 50px;
  border: 3px solid gray;
  width: 60%;
  height: 40%;
}
