.wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
  height: 300px;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #282c34;
  cursor: pointer;
  outline: none;
  font-size: 60px;

  &:hover {
    opacity: .9;
    transition: .3s all ease;
  }
}

.start__btn {
  width: 200px;
  height: 35px;
  margin-bottom: 35px;
  color: white;
  cursor: pointer;
  outline: none;
  background: #282c34;
  border: 1px solid white;
  opacity: .5;

  &:hover {
    opacity: .9;
    transition: .3s all ease;
  }
}

.game__info {
  font-size: 36px;
  user-select: none;
}
