.content_box {
  position: relative;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  &__answer:focus {
    outline: none;
  }

  button {
    font-family: 'Akaya Telivigala', cursive;
    color: #282c34;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    opacity: .7;
    user-select: none;

    &:hover {
      opacity: .9;
    }

    &:active {
      transform: translateY(2px);
    }

    &:focus {
      outline: none;
    }
  }
}

.top_buttons__box {
  position: absolute;
  top: 33px;
  left: 20px;
  display: flex;
  width: 95%;
  justify-content: space-between;

  .top__btn {
    min-height: 40px;
    max-height: 40px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.buttons_bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;

  button {
    width: 45%;
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 5px;

    &:nth-child(2n+1) {
      margin-right: 5px;
    }
  }
}

.country_field {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.country_img {
  width: 100%;
}

.disabled {
  pointer-events: none;
  color: #5d656e !important;
  opacity: .5 !important;
}

.scores {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 30px;
  font-weight: 600;
  color: #282c34;
  opacity: .7;
  position: absolute;
  right: 20px;
  top: 120px;
  user-select: none;
}

.sounds_icon_box {
  display: flex;
  justify-content: space-between;
}

.sounds_icon {
  width: 40px;
  height: 40px;
  color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background: white;
  opacity: .7;

  &:first-child {
    margin-right: 5px;
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &:hover {
    opacity: .9;
  }

  &:active {
    transform: translateY(2px);
  }

  &:focus {
    outline: none;
  }
}

.settings__panel {
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.volume {
  display: flex;
  align-items: center;
  padding: 5px;
  width: 100px;
  height: 30px;
}

.music_range_box {
  display: flex;
  height: 40px;
  width: 100px;
}

.range_track {
  height: 5px;
  width: 100%;
  border-radius: 4px;
  align-self: center;
}

.range_thumb_box {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 6px #AAA;

  .range_thumb {
    height: 5px;
    width: 5px;
    border-radius: 50%;
  }
}

.result_text {
  position: absolute;
  top: 115px;
  left: 20px;
  font-size: 60px;
  user-select: none;
}

.success {
  color: #78C58D;
}

.error {
  color: #ec394e;
}

.onGetAnswer_btn {
  background: #78C58D;
  opacity: .5;
}
