.wrapper {
  background: #282c34 url(../img/background.jpg) no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.blur {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(25px);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-wrap: wrap;

  button {
    background: transparent;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 5px;
  }
}

.buttons_bottom {
  display: flex;
  flex-wrap: wrap;

  button {
    width: 50%;
  }
}

.country_field {
  opacity: .7;
  display: flex;
  align-items: center;
  justify-content: center;
}

.country_img {
  margin-bottom: 50px;
  border: 3px solid gray;
  width: 60%;
  height: 40%;
}
