.content_box {
  position: relative;
}

.wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start_btn {
  text-decoration: none;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;


  button {
    font-family: 'Akaya Telivigala', cursive;
    color: white;
    font-size: 20px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background: #282c34;
    border: 1px solid white;
    opacity: .5;

    &:hover {
      opacity: .9;
      transition: .6s all ease;
    }
  }
}

.top_buttons__box {
  position: absolute;
  top: 33px;
  left: 20px;
  display: flex;
  width: 95%;
  justify-content: space-between;

  .top__btn {
    min-height: 40px;
    max-height: 40px;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.buttons_bottom {
  position: absolute;
  bottom: 5px;
  width: 100%;

  button {
    width: 45%;
    min-height: 40px;
    max-height: 40px;
    margin-bottom: 5px;

    &:nth-child(2n+1) {
      margin-right: 5px;
    }
  }
}

.country_field {
  display: flex;
  align-items: center;
  justify-content: center;
}

.country_img {
  width: 100%;
}

